.centered-narrow {
  max-width: 500px;
  margin: auto;
  padding: 40px 0;
}

h1 {
  font-size: 50px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 25px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  /* margin-bottom: 20px; */
}

.link-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px
}

.link-group.nested::before {
  content: "";
  display: block;
  width: 30%;
}

.link-group.nested,
.link-group.category {
  margin-bottom: 5px;
}

.link-remove {
  width: 7%;
  display: flex;
  align-items: center;
  color: orangered;
}

.link-remove svg {
  height: 1.7em;
}

.link-add {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--brand-green-dark);
}

.link-add.nested {
  margin-bottom: 15px;
}

.link-add.nested button {
  width: 200%;
}

.link-add.nested::before {
  content: "";
  display: block;
  width: 30%;
}

.link-add button {
  width: 100%;
  background-color: white;
  border-radius: 7px;
  padding: 6px 14px;
  margin-top: 5px;
}

.link-add svg {
  height: 1.7em;
  vertical-align: -0.48em;
}

.card.delete-all {
  margin-bottom: 60px;
  font-size: 17px;
  background-color: transparent;
  border: 2px solid orangered;
  color: orangered;
  padding: 12px;
  transition: background-color var(--animationShort), color var(--animationShort);
}

.card.delete-all:hover {
  background-color: orangered;
  color: white;
}